.login {
	background: $login-bgpage;
	.well {
		margin: 20px 0;
		border-radius: 10px;
		overflow: hidden;
		padding: 60px 0 35px 0;
		background: -webkit-linear-gradient(to top, $login-color-main, $login-color-secondary);
		background: -o-linear-gradient(to top, $login-color-main, $login-color-secondary);
		background: -moz-linear-gradient(to top, $login-color-main, $login-color-secondary);
		background: linear-gradient(to top, $login-color-main, $login-color-secondary);
		color: #fff;

		.logo{
			margin-bottom:20px
		}

		input.form-control {
		    background: unset;
			border: 0;
			box-shadow: unset;
			border-bottom: 3px solid #fff;
			padding: 0;
			color: #fff;
			padding: 8px 5px 14px 5px;
			font-weight: lighter;
			margin-bottom: 0;
			line-height: 20px;
			height: auto;
			border-radius: 0 0 5px 0;
			transition:ease-in .2s;
			&:hover,
			&:focus {
				padding-left: 15px;
			}
		}

		.form-group {
			.form-label,
			.input-wrapper{
				float:left;
				position: relative;
			}

			.form-label {
				width: 10%;
				text-align: center;
				padding: 11.5px 0;
				background: #fff;
				color: $login-text-color;
			}
			.input-wrapper {
				width:89%
			}
			.checkbox {
				.input-checkbox100{
					display:none;
					&:checked + label:after {
						-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
						filter: alpha(opacity=100);
						opacity: 1;
					}
				}
				.label-text100{
					margin-left: 10px;
					position: relative;
					bottom: 6px;
				}
				.label-checkbox100{
					cursor: pointer;
					position: relative;
					left:20px;
					width: 20px;
					height: 20px;
					top: 0;
					border-radius: 4px;

					-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
					-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
					box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
					background: #fcfff4;

					background: -webkit-linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
					background: -moz-linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
					background: -o-linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
					background: -ms-linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
					background: linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
					
					&:after{
						-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
						filter: alpha(opacity=0);
						opacity: 0;
						content: '';
						position: absolute;
						width: 9px;
						height: 5px;
						background: transparent;
						top: 7px;
						left: 5px;
						border: 3px solid #333;
						border-top: none;
						border-right: none;

						-webkit-transform: rotate(-45deg);
						-moz-transform: rotate(-45deg);
						-o-transform: rotate(-45deg);
						-ms-transform: rotate(-45deg);
						transform: rotate(-45deg);
					}

					&:hover::after{
						-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
						filter: alpha(opacity=30);
						opacity: 0.5;
					}

					
				}
			}
			.btn-login {
				padding: 10px 41px;
				font-weight: 700;
				color: #222;
				border-radius: 25px;
				transition: ease-in 0.4s;
				box-shadow: none;
				// border: 1px solid #fff;
				&:hover,
				&:focus{
					background: -webkit-linear-gradient(to bottom, $login-button-color, $login-button-color);
					background: -o-linear-gradient(to bottom, $login-button-color, $login-button-color);
					background: -moz-linear-gradient(to bottom, $login-button-color, $login-button-color);
					background: linear-gradient(to bottom, $login-button-color, $login-button-color);
					transition: ease-in 0.4s;
				}
			}
		}

		.bottom-link {
			margin-top:70px;
			a {
				color:#e5e5e5;
				font-size:13px;
				line-height: 1.5;

				&:hover,
				&:focus {
					text-decoration: none;
					font-weight:800;
				}
			}
		}
	}
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #eee !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
}